body {
    background: #23241f;
    word-wrap: break-word;
    font-family: "Ubuntu";
    color: white;
}

h1 {
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 4vmax;
    text-shadow:
        1px 1px 0 #CCC,
        3px 3px 0 #444;
}

a {
    text-decoration: none;
    color: white;
}

#cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;

    color: white!important;
}

#explain {
    float: right;
}

.center {
    text-align: center;
}

.icon {
    padding: 10px;
    color: whitesmoke;
    font-size: 25px;
}

.main {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  code{
    width: 100% !important;
  }
}

@keyframes "blink" {
    from,to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: white;
    }

}

@-ms-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: white;
    }
}